  a:link {
    font-size: 20px;
    color: black;
    padding: 0px 60px 0px 0px;
    text-decoration: none;
    word-wrap: normal;
  }

  nav div {
      text-align: center
  }

  img {
    max-width: 13%;
    height: auto;
    }

  
 
 